
body{
	margin:0px;
    padding:0px;
	height: 100%;
    background-color: bisque;
}
.UserHeader{ 
    margin-top:20px;
	margin-left:20px;
	margin-right:20px;
    padding-bottom:30px; 
	width:300px;
	height:50px;
	border:2px solid black;
    font-size:30px;
	text-align:center;
	font-weight:bold;
	float:left;
    background-color:azure;
 }
 div.searchBody{    
    padding-top:70px;    
    width:1310px;
    height:595px;
    background:linear-gradient(rgb(158, 158, 194),#87aace,#e2e5e9);
 }
 .infoBody{ 
    clear:left; 
    width:300px;
	height:350px;
	border:2px solid black;
	background-color:#fdbfa6;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
	font-size:20px;
	font-weight:bold;
	text-align:right;
	float:left;	
 }

 input{
    background-color:white;
    font-weight:bold;	
	border:2px solid black;
    margin-right:30px;
}

.DBBody{ 
    clear:right; 
    width:700px;
	height:435px;
	border:2px solid black;
    background-color: azure;
	margin-left:20px;
	margin-right:20px;
    margin-top:-85px;
	float:left;	
 }

 footer{
    position:fixed;
    background-color:rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 50px;
    bottom:0;
    font-weight:bold;
    margin-top: 600px;
  }  