<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Prodaft Project</title>
    <link crossorigin="anonymous"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<div class="searchBody">
      <div class="UserHeader">
      <p>Search User</p>
      </div>
          <div class="infoBody">
          
          <form action="" method="" id="form" name="form1" onsubmit="return onayla()">
          <br/>
          User Name:&nbsp &nbsp <input type="text" name="isim" maxlength="20"  required/> &nbsp <br/><br/>
          
          Email:&nbsp &nbsp <input type="text" name="eposta" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required /> 
          &nbsp <br/><br/>
        
          <input type="reset" value="Find"/> 
          <input type="reset" value="Update"/> <br/>
          <input type="reset" value="Clean"/>
          <input type="reset" value="Delete"/>
    
          </form>
       
          </div>
        <!--Database Part-->
          <div class="DBBody">
         
            <table class="table is-fullwidth is-striped is-bordered">
              <thead>
            <tr >            
                  <th>ID</th>
                  <th>User Name </th>
                  <th>Email </th>
                  <th>Phone </th>
                  <th>City</th>
             </tr>
              </thead>

              <tbody>
              {% for userss in UserInfos %}
                <tr>
                <td> {{userss.id.value}} </td>
                <td> {{userss.name.first}} </td>
                <td> {{userss.email}} </td>
                <td> {{userss.phone}} </td>
                <td> {{userss.location.city}} </td>
                </tr>
              {% endfor %}
              </tbody>
              
             </table>         
         </div>

          <!--footer part-->
  <footer>
      &nbsp &nbsp Prodaft Project by Senem Aktaş
    </footer>

</body>
</html>
